:root {
    --cor-de-fundo: rgb(121, 150, 173);
}
body {
    background-color:var(--cor-de-fundo);
}
h1{
    background-color: rgb(51, 94, 187);
}
<header class="cabecalho">
<h1 class="cabecalho-titulo">
.cabecalho{
    background-color: var (--cor-cabecalho) ;
}
.cabecalho-titulo {
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-align: center;
}